<!-- Sidebar content -->
<div class="sidebar-content">
    <!-- User menu -->
    <div class="sidebar-user">
        <div class="card-body">
            <div class="media">
                <div class="mr-3">
                    <a href="#"><img src="/global_assets/images/placeholders/placeholder.jpg" width="38" height="38"
                            class="rounded-circle" alt=""></a>
                </div>

                <div class="media-body">
                    <div class="media-title font-weight-semibold"><%= name %></div>
                    <div class="font-size-xs opacity-50">
                        <i class="icon-pin font-size-sm"></i> &nbsp;Bandung, IDN
                    </div>
                </div>

                <div class="ml-3 align-self-center">
                    <a href="#" class="text-white"><i class="icon-cog3"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- /user menu -->


    <!-- Main navigation -->
    <div class="card card-sidebar-mobile">
        <ul class="nav nav-sidebar" data-nav-type="accordion">

            <!-- Main -->
            <li class="nav-item-header">
                <div class="text-uppercase font-size-xs line-height-xs">Main</div> <i class="icon-menu"
                    title="Main"></i>
            </li>
            <li class="nav-item">
                <a href="/home" class="nav-link <% if (page === 'dashboard') { %>active<% } %>">
                    <i class="icon-home4"></i>
                    <span>
                        Dashboard
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/submission" class="nav-link <% if (page === 'submission') { %>active<% } %>">
                    <i class="icon-files-empty"></i>
                    <span>
                        Pengajuan Barang
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/major" class="nav-link <% if (page === 'major') { %>active<% } %>">
                    <i class="icon-store"></i>
                    <span>
                        Master Barang
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/category" class="nav-link <% if (page === 'category' || page === 'category-create' || page === 'category-edit') { %>active<% } %>">
                    <i class="icon-pencil5"></i>
                    <span>
                        Kategori Barang
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/major/create" class="nav-link <% if (page === 'major-create') { %>active<% } %>">
                    <i class="icon-cart-add2"></i>
                    <span>
                        Barang Masuk
                    </span>
                </a>
            </li>
            <li class="nav-item nav-item-submenu <% if (page === 'itemin') { %>nav-item-open<% } %>">
                <a href="#" class="nav-link"><i class="icon-clipboard5"></i> <span>History</span></a>

                <ul class="nav nav-group-sub" data-submenu-title="Layouts" <% if (page === 'itemin') { %> style ="display: block" <% } %>>
                    <li class="nav-item"><a href="/history/itemin" class="nav-link <% if (page === 'itemin') { %>active<% } %>">Barang Masuk</a></li>
                    <li class="nav-item"><a href="/layout_2/LTR/default/full/index.html" class="nav-link">Barang
                            Keluar</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /main navigation -->
</div>
<!-- /sidebar content -->